---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Site Contents</h1> -->
  <h1 class="page-heading">
    California’s Open Data Portal is a freely available resources for all state departments, agencies, boards, and commissions. The portal lives at http://data.ca.gov, and is an easy way to publish data for consumption by the public and other state agencies. This guide is a resource to:
    <br><br>
    1. Help you prioritize what data to publish,<br><br>
    2. Ensure that your data is properly formatted for publication, <br><br>
    3. Meet the data.ca.gov’s metadata and data dictionary standards, <br><br>
    4. Get the appropriate signoff from internal stakeholders before publishing your data<br><br>
    5. Publish your data on data.ca.gov; and, <br><br>
    6. Engage the public using your open data. <br><br>
    
    In time this guide will be expanded to include information on automating data uploads between your systems and the Open Data Portal along with information on data stories, data visualizations and mapping tools available on the portal.  
  </h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
</div>